*{
    text-align: center;
}
button{
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 45%;
    top: 20%;
}
h3{
    color: white;
    position: absolute;
    left: 47%;
    top: 5%;
}
div{
    height: 200px;
    width: 500px;
    background-color: azure;
    margin: auto;
    margin-top: 20%;
}